/*-TODO-FONTS-*/
/* Код для подключения шрифта в /css/stylename.css */

@font-face {
  font-family: "HeliosCondRegular";
  src: url("../fonts/HeliosCondRegular/HeliosCondRegular.eot");
  src: url("../fonts/HeliosCondRegular/HeliosCondRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/HeliosCondRegular/HeliosCondRegular.woff") format("woff"),
  url("../fonts/HeliosCondRegular/HeliosCondRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HeliosCondItalic";
  src: url("../fonts/HeliosCondItalic/HeliosCondItalic.eot");
  src: url("../fonts/HeliosCondItalic/HeliosCondItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/HeliosCondItalic/HeliosCondItalic.woff") format("woff"),
  url("../fonts/HeliosCondItalic/HeliosCondItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HeliosCondBold";
  src: url("../fonts/HeliosCondBold/HeliosCondBold.eot");
  src: url("../fonts/HeliosCondBold/HeliosCondBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/HeliosCondBold/HeliosCondBold.woff") format("woff"),
  url("../fonts/HeliosCondBold/HeliosCondBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HeliosCondBoldItalic";
  src: url("../fonts/HeliosCondBoldItalic/HeliosCondBoldItalic.eot");
  src: url("../fonts/HeliosCondBoldItalic/HeliosCondBoldItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/HeliosCondBoldItalic/HeliosCondBoldItalic.woff") format("woff"),
  url("../fonts/HeliosCondBoldItalic/HeliosCondBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


/*-TODO-BASE-PAGES*/
img {
  max-width: 100%;
  /*height: auto;*/
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;

  font-family: "HeliosCondRegular", Arial, sans-serif;
  font-size: 9px;
  color: #000000;

  /*background-color: #dcdcdc;*/

}

.bg-img {
  position: fixed;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-image: url("../img/bg_book.jpg");
  background-repeat: repeat;
  background-position: center;
  opacity: 0.6;
  z-index: -1;
}

/*-TODO-HEADER-*/
.access {
  display: none;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 20px;
  font-size: 2em;
  border: 1px solid #000000;
}

.a-fonsize dd {
  margin: 0;
}

.a-fonsize,
.a-colors,
.a-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.a-fonsize a {
  display: block;
  position: relative;
  top: -5px;
  height: 31px;
  margin-left: 5px;
  background-image: url("../img/fontsize.png");
}

.a-fontsize-small {
  width: 20px;
}

.a-fontsize-small:hover {
  background-position: 0 -31px;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  /*background-color: #dcdcdc;*/
  background-color: rgba(255, 255, 255, 0.8);
}

.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  height: 40px;
  z-index: 1;
  /*margin-bottom: 30px;*/
}

.top-nav .not-to-see {
  position: relative;
  height: 100%;
  margin: 14px 0 0;
  padding-right: 55px;
  color: #000000;
  font-weight: bold;
  font-size: 1.5em;
  text-align: right;
  text-transform: uppercase;
  text-decoration: none;
}

.top-nav .not-to-see::after {
  content: "";
  position: absolute;
  top: -5px;
  right: 0;
  width: 35px;
  height: 35px;
  background: url("../img/not-to-see.svg") no-repeat;
  background-size: 25px 25px;
}

.not-to-see span {
  display: none;
}

.not-to-see:hover span,
.not-to-see:focus span {
  display: block;
}

.header-form-search {
  height: 25px;
  margin: 10px 15px;
}

.header-form-search:hover,
.header-form-search:focus {
  border: 1px solid #000000;
  border-radius: 3px;
}

.header-form-search:hover .header-search-field {
  display: initial;
}

.header-search-field {
  display: none;
  width: 200px;
  height: 25px;
  padding-left: 10px;
  font-size: 1.5em;
  background: transparent;
  border: none;
}

.header-search-field:focus {
  display: initial;
}

.header-search-field:focus ^ .header-form-search {
  border: 1px solid #000000;
  border-radius: 3px;
}
/*.header-form-search:hover input[type="submit"] {
  display: initial;
}



.header-form-search .header-search-field:hover + input,
.header-form-search .header-search-field:focus + input,
.header-form-search input[type="submit"]:hover {
  display: initial;
}

.header-form-search input[type="submit"]:focus {
  display: initial;
  background-color: rgba(0, 0, 0, 0.2);
}
*/
.header-form-search input[type="submit"] {
  /*display: none;
  margin-left: -2px;
  padding: 5px 10px;
  border: 1px solid #000000;*/
  width: 17px;
  height: 17px;
  margin-top: 4px;
  border: none;
  color: transparent;
  font-size: 1.5em;
  background-color: transparent;
  background: url("../img/search.svg") no-repeat center;
}

.logotype {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 120px;
  margin-bottom: 10px;
  /*background-color: #0c99c8;*/
  border-radius: 5px;
}

.logotype .logo-dudbibl {
  position: absolute;
  top: 0;
  left: 40px;
  margin: 16px;
}

.logotype h1 {
  width: 1160px;
  margin-top: 25px;
  padding: 0 60px;
  font-size: 2.5em;
  color: #000000;
  text-align: center;
}

.logotype h1 span {
  font-size: 1.2em;
}

.main-nav {
  margin-bottom: 20px;
}

.main-nav::after {
  content: "";
  display: block;
  width: 100%;
  height: 7px;
  background-color: #2c609a;
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #2370b1;
}

.menu-item {
  position: relative;
  width: 100%;
  height: 35px;
  /*margin-right: 10px;*/
  padding: 0 10px;
  color: #ffffff;
  text-align: center;
  /*background-color: #2370b1;
  border-radius: 10px 10px 0 0;*/
  border-right: 2px solid rgba(0, 0, 0, 0.3);
}

.menu-item:nth-last-child(1) {
  border: none;
}

.menu-item:nth-last-child(1) {
  margin-right: 0;
}

.menu-item:hover {
  background-color: #0c99c8;
  color: #ddeaec;
}

.menu-item a {
  display: block;
  padding: 3px 15px;
  text-decoration: none;
  color: inherit;
  font-size: 2.1em;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 36px;
}

.menu-item:hover .submenu {
  display: block;
}

.submenu {
  display: none;
  position: absolute;
  width: 100%;
  top: 35px;
  left: 0;
  padding: 0;
  color: #ffffff;
  z-index: 5;
}

.submenu:hover {
  display: block;
}

.submenu li {
  width: auto;
  border-top: 1px solid #000000;
  background-color: rgba(12, 153, 200, 1);
}

.submenu li:hover {
  text-decoration: underline;
}

.submenu a {
  /*display: block;
  width: 100%;
  height: 100%;*/
  padding: 10px;
  font-size: 1.3em;
  line-height: 1.3em;
}

/*.submenu a:hover {
  background-color: rgba(12, 153, 200, 1);
}*/

/*-TODO-MAIN-*/
.main-section {
  background-color: #ffffff;
}

.new-book {
  height: 330px;
  margin-bottom: 40px;
  padding: 10px 20px;
  background-color: #4575a5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.new-book h2 {
  font-size: 2.8em;
  margin: 0 0 10px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.book-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;
}

.book-next,
.book-prev {
  position: relative;
  padding-left: 20px;
  opacity: 0.2;
}

.book-prev::before {
  content: "";
  position: absolute;
  display: block;
  top: 30%;
  left: 0;
  width: 20px;
  height: 90px;
  background-image: url("../img/prev.svg");
  background-repeat: no-repeat;
}

.book-next::before {
  content: "";
  position: absolute;
  display: block;
  top: 30%;
  left: 0;
  width: 20px;
  height: 90px;
  background-image: url("../img/next.svg");
  background-repeat: no-repeat;
}

.book-overlay {
  width: 880px;
  overflow: hidden;
}

.book-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*justify-content: space-between;*/
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-animation: scroller-book 30s infinite;
  animation: scroller-book 30s infinite;
}

.book-item {
  min-width: 190px;
  margin-right: 40px;
  text-align: center;
}

.book-item a {
  position: relative;
}

.book-item img:hover + .book-info,
.book-item .book-info:hover {
  height: 80px;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.book-info {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0px;
  padding: 10px;
  font-size: 2em;
  text-align: left;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0;
}

.events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.left-colum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /*width: 320px;*/
}

.calendar-of-actions {
  margin-bottom: 30px;
}

.calendar-of-actions h3 {
  padding: 10px;
  font-size: 2em;
  text-align: center;
  color: #ffffff;
  background-color: #ff0000;
}

.calendar-of-actions p {
  position: relative;
  width: 65px;
  margin: 20px auto;
  padding-left: 35px;
  font-size: 1.5em;
  text-align: left;
  font-weight: bold;
}

.calendar-of-actions p::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #e65d14;
}

/*-TODO-Calendar-BEGIN-*/
#calendar {
  width: 215px;
  margin: 0 20px;
  line-height: 1.2em;
  border-collapse: collapse;
  font-size: 1.7em;
  text-align: center;
  background-color: #ffffff;
}

#calendar thead tr:nth-child(1) {
  height: 50px;
  background-color: #0c99c8;
  border: 2px solid #0c99c8;
}

#calendar thead tr:last-child {
  font-size: small;
  color: rgb(85, 85, 85);
}

#calendar thead tr:last-child td {
  padding: 3px 0;
  border: 2px solid #afafaf;
  font-weight: bold;
}

#calendar thead tr:nth-child(1) td:nth-child(2) {
  color: #ffffff;
  font-size: 1.2em;
  font-weight: bold;
}

#calendar thead tr:nth-child(1) td:nth-child(1),
#calendar thead tr:nth-child(1) td:nth-child(3) {
  color: #ffffff;
  font-size: 1.6em;
  font-weight: bold;
}

#calendar thead tr:nth-child(1) td:nth-child(1):hover, #calendar thead tr:nth-child(1) td:nth-child(3):hover {
  cursor: pointer;
}

#calendar tbody td {
  padding: 5px;
  color: rgb(44, 86, 122);
  border: 2px solid #afafaf;
}
#calendar tbody td:nth-child(n+6), #calendar2 .holiday {
  color: rgb(220, 0, 0);
}
#calendar tbody td.today {
  background: #e65d14;
  font-weight: bold;
  color: #fff;
}
/*-TODO-Calendar-END-*/

.service-assessment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 260px;
  margin: 0 auto;
  text-align: center;
  font-size: 3em;
  color: #c41212;
  text-decoration: unset;
}

.service-assessment img {
  margin: 0 auto;
}

.service-assessment p {
  width: 140px;
  margin: 0 auto;
  font-size: 0.6em;
  font-weight: bold;
}

.news-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
}

.news-list h3 {
  font-size: 3.6em;
  text-align: center;
  margin: 0;
}
.news-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 20px;
}

.news-item h4 {
  margin: 15px;
  font-size: 2.3em;
  text-align: center;
}

.news-item data {
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.3em;
  font-style: italic;
  font-weight: bold;
  text-align: right;
}

.news-item img {
  float: left;
  margin: 0 10px 0 0;
}

.news-item p {
  margin: 0;
  font-size: 1.8em;
  text-align: justify;
  text-indent: 2em;
  line-height: 1.5em;
}

.news-item .news-detals {
  font-size: 1.5em;
  text-decoration: none;
  text-align: right;
}

.resurs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 20px;
}

.resurs h3,
.useful-link h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 40px;
  margin: 0;
  padding: 0;
  font-size: 2.3em;
  color: #0c4897;
  text-align: center;
}

.resurs-static {
  width: 255px;
}

.resurs-static h3 {
  color: transparent;
}


.resurs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  list-style: none;
}

.resurs-dinamic {
  width: 100%;
  height: 390px;
  margin: 10px 0;
  overflow: hidden;
}

.resurs-dinamic .resurs-list {
  height: 520px;
  -webkit-animation: scroller 10s infinite;
  animation: scroller 10s infinite;
}

.resurs-item a{
  display: table-cell;
  width: 130px;
  height: 130px;
  vertical-align: middle;
  text-align: center;
}

.useful-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /*margin-bottom: 35px;*/
  padding-bottom: 35px;
}

.link-list {
  background-color: #ffffff;
  width: 100%;/*
  height: 150px;*/
  margin: 10px 0;
  overflow: hidden;
}

.link-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.link-item a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 120px;
}

.link-item img {
  width: auto;
  height: 100%;
}
/*-TODO-FOOTER-*/
.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 0;
  color: #ffffff;
  background-color: #636161;
}

.main-footer .container {
}

.foto-bibl {
  margin-left: 10px;
}

.adress-office {
  text-align: center;
}

.adress-office h2 {
  margin: 10px 0;
  font-size: 2.7em;
}

.adress-office p {
  margin: 0;
  font-size: 1.8em;
  line-height: 1.5em;
}

.map {
  margin-right: 10px;
}

/*-TODO-MODAL*/
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -480px;
  margin-top: -275px;
  width: 760px;
  -webkit-box-shadow: 0 0 20px 0 rgba(4, 6, 6, 0.2);
  box-shadow: 0 0 20px 0 rgba(4, 6, 6, 0.2);
  background-color: #ffffff;
  z-index: 10;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  background-color: rgba(161, 171, 182, 0.5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 8px;
  width: 40px;
  height: 3px;
  background-color: #eeeeee;
}

.modal-close:hover {
  background-color: rgba(161, 171, 182, 0.8);
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-map {
  display: none;
  width: 960px;
  height: 560px;
}

.modal-map img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

iframe {
  width: 960px;
  height: 560px;
  border: none;
}

.modal-show {
  display: block;
}

.overlay-show {
  display: block;
}

@-webkit-keyframes scroller {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  33% {
    -webkit-transform: translateY(-130px);
    transform: translateY(-130px);
  }
  66% {
    -webkit-transform: translateY(-260px);
    transform: translateY(-260px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes scroller {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  33% {
    -webkit-transform: translateY(-130px);
    transform: translateY(-130px);
  }
  66% {
    -webkit-transform: translateY(-260px);
    transform: translateY(-260px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes scroller-book {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(-230px);
    transform: translateX(-230px);
  }
  50% {
    -webkit-transform: translateX(-460px);
    transform: translateX(-460px);
  }
  75% {
    -webkit-transform: translateX(-690px);
    transform: translateX(-690px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes scroller-book {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(-230px);
    transform: translateX(-230px);
  }
  50% {
    -webkit-transform: translateX(-460px);
    transform: translateX(-460px);
  }
  75% {
    -webkit-transform: translateX(-690px);
    transform: translateX(-690px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
